html,
body
{
    margin:  0;
    padding: 0;
    min-height:  100%;
}

@media (min-width: 980px)
{
    body
    {
        padding-top: 50px; /* 50px to make the container go all the way to the bottom of the topbar */
    }
}

@media (max-width: 980px)
{
    .navbar
    {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
}

@media (max-width: 480px)
{
    .main
    {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 320px)
{
    .hero-unit h1
    {
        font-size: 32px;
    }
}

.brand > img
{
    vertical-align: top;
    width: 20px;
    height: 20px;
}

/* Style Overrides */
.navbar-inner {
    min-height: 30px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #0286d5;
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#049cdb), to(#0064cd));
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.navbar-search .search-query {
    padding: 4px 9px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    background-color: #4ea4ff;
    border: 1px solid #0058b4;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.navbar .brand {
    padding: 3px 20px 7px;
    color: white;
    text-shadow: 0 1px 0 black;
    width: 230px;
    padding-right: 0;
    margin-right: 0;
}

@media (max-width: 480px)
{
    .navbar .brand
    {
        padding-left: 8px;

    }
}

@media (max-width: 320px)
{
    .navbar .brand
    {
        width: 32px;

    }
    .navbar .brand > span
    {
        display: none;

    }
}


.navbar .navbar-text {
    line-height: 30px;
}

.navbar .nav > li > a {
    padding: 4px 10px 6px;
    text-shadow: 0 1px 0 black;
}

.navbar .nav > li > a,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:active,
.navbar .nav > li > a:visited {
    color: white;
}

.greyscale
{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* older webkit */
}
